DOCKER_USER=
DOCKER_PASSWORD=
DOCKER_REGISTRY=
DOCKER_DOW_BOT_IMAGE=
DOCKER_DOW_DASH_IMAGE=

CURRENT_DOW_BOT_DIRECTORY=
CURRENT_DOW_DASH_DIRECTORY=
CURRENT_DOW_REDIS_DIRECTORY=

REMOTE_SERVER=
REMOTE_USER=
REMOTE_SSH_KEY_FILE=
REMOTE_DIRECTORY=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_PAGE_PROJECT_NAME=
